.sized-left{  
    font-size: 28em;
    font-family: 'Anton', sans-serif;
    color: #F3F3F3;
    position:absolute;
    top: 0;
    left: 0px;
    opacity: .5;

}
.sized-right{  
    font-size: 28em;
    font-family: 'Anton', sans-serif;
    color: #F3F3F3;
    position:absolute;
    top: 0;
    right: 0;
    opacity: .1;

}
h1{
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
h2{
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
a{
    color: #32A6E6;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}
a:hover{
    color: #71CDFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
}
.navbar{
    z-index: 999;
}
.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}
.bookItem{
    padding: 2em;
}
.bookItem>img{
    display: block;
    margin: auto;
}
a.bookItem:hover{
    padding: 2em;
    transition: ease;
    -webkit-box-shadow: 0px 15px 15px 1px rgba(33,33,33,0.3);
    -moz-box-shadow: 0px 15px 15px 1px rgba(33,33,33,0.3);
    box-shadow: 0px 15px 15px 1px rgba(33,33,33,0.3);
    -moz-transform: translate(0px, -3px);
    -webkit-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
}